<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-2" align="center">
        <div class="circle">
          <br />
          coding
          <br />
          is
          <br />
          life
        </div>
      </div>
      <div class="col-6 slogan" align="center">
        Inspirational and insightful quotes about programming
      </div>
      <div class="col-2 links" align="center">
        <%= link_to 'Contribute', '#' %>
      </div>
      <div class="col-2 links" align="center">
        <%= link_to 'About', '#' %>
      </div>  
    </header>

    <hr >

    <br class="clear">

    <%= yield %>
  
  </body>
</html>
