<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-2 circle_container" align="center">
        <div class="circle">
          <br />
          coding
          <br />
          is
          <br />
          life
        </div>
      </div>
      <div class="col-6 slogan" align="center">
        Inspirational and insightful quotes about programming
      </div>
      <div class="col-2 links" align="center">
        <%= link_to 'Contribute', '#' %>
      </div>
      <div class="col-2 links" align="center">
        <%= link_to 'About', '#' %>
      </div>  
    </header>

    <hr />

    <br class="clear">

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6" align="center">
            <%= link_to "I need more inspiration!", "#", class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb" align="center">
            Developed by <a href="http://danielpoit.getforge.io/">Daniel Poit</a><br />
            <a href="http://thefirehoseproject.com/">The Firehose Project</a>, 2017
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
